@use "global" as *;

.faq {
  background: $color-black;
  position: relative;
  padding-top: rem(187);
  padding-bottom: rem(45);
}
.faq__inner {
  padding-left: rem(21);
  padding-right: rem(20);
}
.faq__title {
  position: absolute;
  top: rem(-117);
  left: 48%;
  transform: translateX(-50%);
  max-width:rem(471.1062);
  width: 100%;
}
.faq__body {
  margin-top: rem(60);
}
.faq__item + .faq__item {
  margin-top: rem(19);
}

.faqItem__head,
.faqItem__content {
  display: flex;
}
.faqItem__head {
  background: $color-theme;
  color: $color-white;
  padding-top: rem(16);
  padding-bottom: rem(15);
  padding-left: rem(18);
  padding-right: rem(90);
  position: relative;
  cursor: pointer;
}
.faqItem:nth-child(2) .faqItem__head,
.faqItem:nth-child(4) .faqItem__head,
.faqItem:nth-child(5) .faqItem__head{
  padding-top: rem(26);
  padding-bottom: rem(27);
}
.faqItem__content {
  background: $color-white;
  padding-top: rem(16);
  padding-bottom: rem(32);
  padding-left: rem(19);
  padding-right: rem(64);
  box-sizing: border-box;
}
.faqItem__logo {
  max-width:rem(56.0391);
  width: 100%;
  margin-right: rem(20);
  flex-shrink: 0;
}
.faqItem__logo--q {
  padding-top: rem(23);
  max-width:rem(60);
}
.faqItem__logo--a {
  margin-right: rem(22);
}
.faqItem:nth-child(2) .faqItem__logo--q,
.faqItem:nth-child(4) .faqItem__logo--q,
.faqItem:nth-child(5) .faqItem__logo--q{
  padding-top: rem(6);
}
.faqItem__head_text {
  font-size: rem(30);
  line-height: calc(45 / 30);
  font-weight: $bold;
  font-feature-settings: "palt";
  text-align: justify;
}
.faqItem__content_text {
  font-size: rem(30);
  line-height: calc(45 / 30);
  font-weight: $normal;
  font-feature-settings: "palt";
  text-align: justify;
  padding-top: rem(7);
}
.faqItem__arrow {
  position: absolute;
  top: 46%;
  transform: translateY(-50%) rotate(180deg);
  max-width:rem(30.3488);
  width: 100%;
  right: rem(26);
}
.faqItem:nth-child(2) {
  .faqItem__logo--q {
    padding-top: rem(6);
  } 
  .faqItem__content {
    padding-top: rem(20);
    padding-bottom: rem(40);
  }
}
.faqItem:nth-child(4) {
  .faqItem__content {
    padding-top: rem(20);
    padding-bottom: rem(50);
  }
  
}
.faqItem:nth-child(5) {
  .faqItem__content {
    padding-top: rem(20);
    padding-bottom: rem(43);
  }

}
.accordion-content{
  overflow: hidden;
  box-sizing: border-box;
  transition: all .3s ease;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.faqItem:nth-child(2),
.faqItem:nth-child(4),
.faqItem:nth-child(5) {
  .accordion-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.accordion-content.is-open{
  max-height: rem(600);
  padding-top: rem(16);
  padding-bottom: rem(32);
}
.faqItem:nth-child(2) {
  .accordion-content.is-open{
    padding-top: rem(20);
    padding-bottom: rem(40);
  }
}
.faqItem:nth-child(4) {
  .accordion-content.is-open{
    padding-top: rem(20);
    padding-bottom: rem(50);
  }
}
.faqItem:nth-child(5) {
  .accordion-content.is-open{
    padding-top: rem(20);
    padding-bottom: rem(43);
  }
}
.is-active .faqItem__arrow {
  transform: translateY(-50%) rotate(0);
}