/* リキッドレイアウト対応 */
@use "global" as *;

html {
  //~375px
  @media (max-width: 650px) {
    font-size: vw(641, 16);
  }

  //375px~787px
  font-size: 16px;

  @include mq("md") {
    font-size: 16px;
  }
}

a {
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
