@use "global" as *;

.main_wrapper {
  position: relative;
}
.main_wrapper__bg_image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}
.main_wrapper__bg_image img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.nav_wrapper {
  display: none;
  @include mq(md) {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}
.sp_wrapper {
  max-width: 641px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  @media screen and (min-width:641px) {
    margin-left: 0;
  }
  @media screen and (min-width:643px) {
    border: 1px solid $color-theme;
  }
  @media screen and (min-width:841px) {
    margin-left: auto;
    margin-right: 24vw;
  }
  @media screen and (min-width:1440px) {
    margin-right: auto;
  }
}
